<div class="row">
    <div class="col-6" style="padding: 0;">
        <h6>ONLINE SHOPPING</h6>
        <div class="navLinks">
            <a href="\{{navLink}}" *ngFor="let navLink of navlinks" class="navLinkList">
                {{navLink}}
            </a>
        </div>
    </div>
    <div class="col-6">
        <h6>USEFUL LINKS</h6>
        <div class="usefulLinks">
            <a href="\{{usefulLink}}" *ngFor="let usefulLink of usefulLinks" class="usefulLinkList">
                {{usefulLink}}
            </a>
        </div>
    </div>
</div>